<div class="row mt-5">
    <div class="col-6">
        <app-grafica title="Grafica1" [graficaData]="dataDona" [graficaType]="'doughnut'"></app-grafica>
    </div>
    <div class="col-6">
        <app-grafica title="Grafica2" [graficaData]="dataPie" [graficaType]="'pie'"></app-grafica>
    </div>    
</div>
<div class="row mt-5">
    <div class="col-6">
        <app-grafica title="Grafica3" [graficaData]="dataBar" [graficaType]="'bar'"></app-grafica>
    </div>
    <div class="col-6">
        <app-grafica title="Grafica4" [graficaData]="dataLine" [graficaType]="'line'"></app-grafica>
    </div>    
</div>