/* You can add global styles to this file, and also import other style files */
.fast {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#themecolors .selector {
    cursor: pointer;
}

.my-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.my-img-2 {
    border-radius: 5%;
    width: 200px;
    height: 200px;
}

.my-img-table{
    width: 3rem;
    height: 3rem;
}

caption {
    caption-side: top;
    text-align: center;
}

.selector {
    cursor: pointer;
}

.mostrar {
    display: block;
    background-color: rgba(0, 0, 0, .4);
}

.h370 {
    height: 100%;
}